.thumb {
    max-height: 60px;
}

.am-icon-close {
    color: #dd514c;
}

.am-icon-check {
    color: #5eb95e;
}

.is_something {
    cursor: pointer;
}

.select_thumb {
    float: left;
    margin-left: 5px;
}

.new_thumb {
    float: left;
}

.xParent {
    cursor: pointer;
}

.xChildren {
    display: none;
}


/* ==========================================================================
   Component: Pagination
 ============================================================================ */
.pagination {
    padding-left: 0;
    margin: 1.5rem 0;
    list-style: none;
    color: #999999;
    text-align: left;
}

.pagination:before,
.pagination:after {
    content: " ";
    display: table;
}

.pagination:after {
    clear: both;
}

.pagination > li {
    display: inline-block;
}

.pagination > li > a,
.pagination > li > span {
    position: relative;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    line-height: 1.2;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0;
    margin-bottom: 5px;
    margin-right: 5px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
    margin-right: 0;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    background-color: #eeeeee;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    background-color: #0e90d2;
    border-color: #0e90d2;
    cursor: default;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #999999;
    background-color: #fff;
    border-color: #ddd;
    cursor: not-allowed;
    pointer-events: none;
}

.pagination .pagination-prev {
    float: left;
}

.pagination .pagination-prev a {
    border-radius: 0;
}

.pagination .pagination-next {
    float: right;
}

.pagination .pagination-next a {
    border-radius: 0;
}

.pagination-centered {
    text-align: center;
}

.pagination-right {
    text-align: right;
}

/*编辑商品相册样式*/
.am-gallery-imgbordered.xGallery .am-gallery-item img {
    height: 130px;
}

.am-gallery-item {
    position: relative;
}

.file-panel {
    position: absolute;
    height: 30px;
    display: none;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#80000000', endColorstr='#80000000') \0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 300;
}

.file-panel span.cancel {
    background-position: -48px -24px;
}

.file-panel span {
    width: 24px;
    height: 24px;
    display: inline;
    float: right;
    text-indent: -9999px;
    overflow: hidden;
    background: url(../vendor/webupload/icons.png) no-repeat;
    margin: 5px 1px 1px;
    cursor: pointer;
}
